.starting-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 0%; }

.logo {
  top: 100%;
  width: 454px;
  height: 228px;
  object-fit: contain; }

.background {
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: 0; }

.error-message {
  position: relative;
  bottom: 80px;
  left: 0;
  right: 0;
  font-family: gotham-extra-light;
  color: #ffffff;
  font-size: 20px; }

.search-form {
  display: inline-block; }
  .search-form .food-search {
    width: 285px;
    height: 45px;
    object-fit: contain;
    font-size: 14px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
    padding-left: 10px;
    margin: 10px; }
  .search-form .place-search {
    width: 156px;
    height: 45px;
    object-fit: contain;
    font-size: 14px;
    border-radius: 4px;
    padding-left: 10px;
    background-color: #ffffff;
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24); }
  .search-form .search-button {
    position: relative;
    top: 6px;
    width: 77px;
    height: 50px;
    border-radius: 4px;
    background-color: #ff5f5f;
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
    border: 0px;
    margin: 10px;
    color: #ffffff; }

@keyframes bckgUp {
  0% {
    height: 600px; }
  100% {
    height: 150px; } }

@keyframes searchForm {
  0% {
    bottom: 110px;
    margin-left: initial; }
  100% {
    bottom: 42px;
    margin-left: 30%; } }

@keyframes logoLeft {
  0% {
    right: 0;
    width: 454px;
    height: 228px; }
  100% {
    right: 60%;
    width: 252px;
    height: 124px; } }

.search-found .error-message {
  bottom: 40px;
  left: 10%; }

.search-found .starting-info {
  bottom: 0%;
  height: 150px;
  animation: bckgUp 1s; }

.search-found .background {
  width: 100%;
  object-fit: cover;
  height: 150px;
  animation: bckgUp 1s; }

.search-found .logo {
  position: absolute;
  width: 252px;
  height: 124px;
  top: 0px;
  left: 0;
  right: 60%;
  margin-left: auto;
  margin-right: auto;
  animation: logoLeft 1s; }

.search-found .search-form {
  display: inline-block;
  position: absolute;
  right: 0%;
  left: 0%;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 30px;
  bottom: 42px;
  animation: searchForm 1s; }

@keyframes noAnimation {}@media screen and (max-width: 600px) {
  .search-found .error-message {
    animation: noAnimation; }
  .search-found .starting-info {
    animation: noAnimation; }
  .search-found .background {
    animation: noAnimation; }
  .search-found .logo {
    animation: noAnimation; }
  .search-found .search-form {
    margin-left: auto;
    top: 160px;
    bottom: 2px;
    animation: noAnimation; } }

.title {
  font-family: gotham-extra-light;
  font-size: 55px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff; }

.description {
  width: 543px;
  font-family: gotham-extra-light;
  margin: auto;
  color: #ffffff; }

@media screen and (max-width: 600px) {
  .description {
    width: 290px;
    margin-bottom: 10px; }
  .logo {
    width: 320px;
    height: 160px; }
  .title {
    margin-top: 10px; }
  .search-found .logo {
    position: absolute;
    width: 252px;
    height: 124px;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
  .search-found .background {
    width: 100%;
    object-fit: cover;
    height: 350px; }
  .search-found .search-form {
    position: absolute;
    right: 0%;
    left: 0%;
    margin-right: auto;
    margin-top: auto;
    bottom: 20px; } }
