
@font-face {
  font-family: gotham-extra-light;
  src: url("../fonts/gotham/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: gotham-book;
  src: url("../fonts/gotham/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: gotham-medium;
  src: url("../fonts/gotham/Gotham-Medium.otf") format("opentype");
}


.App {
  text-align: center;
  z-index: 4;
  width: 100%;
  height: 100%;
}


.back-to-search {
  cursor: pointer;
  color: #1a2899;
}


.about {
  margin: 10px 10px 30px 10px;
  color: #999999;
  @include centerElement();
}

.footer-divider {
  height: 2px;
  width: 80%;
  margin: 30px;
  @include centerElement();
  background-color: #e3e3e3;
}


.price-tier {
  margin-left:  20px;

  .base {
    position: absolute;
    top: 6px;
    margin-left: 4px;
    width: 60px;
    height: 3px;
    background: #000000;
    overflow: hidden;
  }

  .tier-one {
    z-index: 10;
    background: #c9c5ff;
    width: 15px;
  }

  .tier-two {
    background: #a59fee;
    z-index: 7;
    width: 30px;
  }

  .tier-three {
    background: #8b81ff;
    z-index: 6;
    width: 45px;
  }

  .tier-three {
    background-color: #685dea;
    z-index: 5;
    width: 70px;
  }

  .bar {
    position: absolute;
    left: 0px;
    height: 15px;
  }

  .material-icons {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 600px) {
  .about {
    width: 90%;
  }
}

