@font-face {
  font-family: gotham-extra-light;
  src: url("../fonts/gotham/Gotham-XLight.otf") format("opentype");
}

@font-face {
  font-family: gotham-book;
  src: url("../fonts/gotham/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: gotham-medium;
  src: url("../fonts/gotham/Gotham-Medium.otf") format("opentype");
}

.App {
  text-align: center;
  z-index: 4;
}


.venue-list {
  margin-left: 10%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 20px;
  width: 290px;
}

.venue-list-item {
  position: relative;
  height: 290px;
  width: 290px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  object-fit: contain;

  background-color: #12195f;
}


.venue-list-image {
  height: 290px;
  width: 290px;
  opacity: 1;
}

.venue .venue-list-image {
  opacity: 0.5;
}


.venue-name {
  position: absolute;
  bottom: 56px;
  left: 18px;
  width: 170px;
  font-family: gotham-book;
  font-size: 25px;
  color: #ffffff;
  text-align: left;
  z-index: 50;
}


.item-container-list {
  position: absolute;
  top: 200px;
  left: 800px;
  width: 290px;
  background-color: #ffffff;
  box-shadow: 0 0 34px 0 rgba(255, 95, 95, 0.32);
  padding-top: 20px;
  padding-bottom: 30px;
}

.item-list-divider {
  border-bottom: solid 1px #e4e4e4;
  width: 260px;
  height: 1px;
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 8px;
}

.item-list-title-divider {
  width: 70px;
  border-bottom: solid 2px #c4c0ff;
  display: inline-block;
  margin-bottom: 10px;
}

.recent-search-item {
  cursor: pointer;
}

.about {
  margin:10px;
  color: #999999;
  width: 100%;
}

.photo-by-user {
  position: absolute;
  top: 120px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
}

.user-photo-square {
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  transform: rotate(-45deg);
  margin-left: auto;
  margin-right: auto;
}

.user-photo {
  position: relative;
  right: 7.5px;
  bottom: 7.5px;
  width: 55px;
  height: 55px;

  transform: rotate(45deg);
}

.photo-by-user .user-name {
  font-family: gotham-medium;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}


.venue-list-rating-square {
  position: absolute;
  width: 75px;
  height: 75px;
  right: 15px;
  bottom: -38px;
  transform: rotate(-45deg);
  background-color: #776cee;
  margin-right: 0px;
  object-fit: cover;
}

.venue-list-rating-square.no-rating {
  opacity: 0;
}

.venue-list-rating {
  position: relative;
  font-family: gotham-medium;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  transform: rotate(45deg);
  left: 10px;
  top: 16px;
}

.people-count {
  position: absolute;
  bottom: 14px;
  left: 18px;
  font-family: gotham-medium;
  font-size: 12px;
  color: #ffffff;
}

.venue-list-item .divider {
  position: absolute;
  width: 48px;
  height: 2.5px;
  background: #c4c0ff;
  bottom: 30px;
}

.price-tier {
  margin-left:  20px
}

.price-tier .base {
  position: absolute;
  top: 6px;
  margin-left: 4px;
  width: 60px;
  height: 3px;
  background: #000000;
  overflow: hidden;
}


.price-tier .tier-one {
  z-index: 10;
  background: #c9c5ff;
  width: 15px;
}

.price-tier .tier-two {
  background: #a59fee;
  z-index: 7;
  width: 30px;
}

.price-tier .tier-three {
  background: #8b81ff;
  z-index: 6;
  width: 45px;
}

.price-tier .tier-three {
  background-color: #685dea;
  z-index: 5;
  width: 70px;
}

.price-tier .bar {
  position: absolute;
  left: 0px;
  height: 15px;
}

.price-tier .material-icons {
  transform: rotate(-45deg);
}
