@font-face {
  font-family: gotham-book;
  src: url("../fonts/gotham/Gotham-Book.otf") format("opentype");
}



.user-image {
  position: absolute;
  left: 25px;
  width: 40px;
  height: 40px;
  object-fit: contain;
  transform: rotate(-45deg);
}

.user-name.tip-text {
  font-weight: 500;
  font-family: gotham-medium;
}


.tip-text {
  position: relative;
  top:12px;
  font-family: gotham-book;
  font-size: 14px;
  color: #9b9b9b;
  text-align: left;
  margin: 0px 20px 12px 100px;
}

.tips-container{
  top: 550px;
}

.all-tips-buttton {
  margin-top: 5px;
  cursor: pointer;
}
